<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="MyConnection" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=smartadtube;User Id=sa;password=123"/>-->

    <!--<add name="MyConnection" connectionString="Data Source=103.117.180.24,2856;Initial Catalog=smartadtube;User Id=smartadtube;password=smar!!@@0099"/>-->
    <add name="MyConnection" connectionString="Data Source=WIN-MKC2TTVF34C\SQLEXPRESS;Initial Catalog=smartindiatube;User Id=smartindiatube;password=smart@@##1122"/>
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="index.php"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576"/>
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Email" value="smartadtube@outlook.com"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network enableSsl="true" port="587" host="smtp-mail.outlook.com" userName="smartadtube@outlook.com" password="Jaishrikrishna159"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
<!--ProjectGuid: 2F9B2A8C-CFA3-4534-B286-0872D823B1F3-->